{% macro render_field(field) %}
  <div class="form-group row">
      <div class="col-*-*">
        {{ field.label }}
        {{ field(**kwargs) | safe }}
        {% if field.errors %}
          <ul class="errors">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </div>
  </div>
{% endmacro %}
