<!DOCTYPE html>
<html>
  <head>
    <title>PyDayTF2018 - Ticketeer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://chancejs.com/chance.min.js"></script>
    <script>
        function fill_form() {
            document.getElementById('first_name').value = chance.first();
            document.getElementById('last_name').value = chance.last();
            document.getElementById('email').value = chance.email();
        }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="navbar-brand" alt="Python Canarias" src="/static/python-canarias-logo.png">
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="https://pythoncanarias.es/events/pydaytf18/">PyDay Tenerife 2018</a>
        </div>
      </div>
    </nav>
    <div class="page-header">
        <h1>Ticketeer <small>Get them while they last!</small></h1>
    </div>
    {% from "form_helper.html" import render_field %}
    <form method="post" class="container center-div">
      {{ render_field(form.first_name) }}
      {{ render_field(form.last_name) }}
      {{ render_field(form.email) }}
      <input class="btn btn-primary" type="submit" value="Submit">
      <input class="btn btn-secondary" type="button" value="Random" onclick="fill_form()">
    </form>
  </body>
</html>
